/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.lsp
/.calva
/.clj-kondo
.hgignore
.hg/
dev/src/local.clj
.dir-locals.el
dev/resources/local.edn
logs/dev.log
