{:duct.profile/base
 {:duct.core/project-ns todo

  :duct.router/ataraxy
  {:routes 
   {[:get "/todos"] [:todo.handler.todos/list]}}
  
  ;; handlers
  :todo.handler.todos/list {}
  }

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 :duct.module/sql
 {}}
